.vertical-header {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #5263FA;
    color: #fff;
}

.vertical-header a {
    text-decoration: none;
    color: #fff;
}

.vertical-header a:hover {
    color: #0b1045;
}

.vertical-header img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background: no-repeat center;
}

.vertical-header .opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.sair {
    cursor: pointer;
}